---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Cultuurstroom">
  <main>
    <h1>Cultuurstroom</h1>
    <p>Culturele locaties als duurzame energiehubs</p>
    <p>Coming soon.</p>
  </main>
</Layout>
